body{
    font-family: arial,sans-serif;
    }
    
    
    
    h1{
        display:block;
        text-align:left;
        color: 000;
        font-size: 45px;
        line-height: 50px;
        font-weight: 400;
        margin-bottom:0;
    
    }
    
    ul{
        margin:0 ;
        padding:0;
    }
    
    li{
        list-style:none;
        color: gray;
       font-size: 14px;
        line-height: 16px;
        padding-top: 3px;
        padding-bottom: 1px;
    }
    li:first-letter{
        text-transform: capitalize;
    }
    
    .weather-app-wrapper{
        max-width: 600px;
        margin:30px auto;
    }
    
    .weather-app{
        max-width:640px;
        margin:40px auto;
        padding:10px;
        border:1px solid;
        border-color:black;
        border-radius: 9px;  
    }
    
    .overview{
        margin-bottom:20px;
    }
    
    .weather-temperature img{
        position: relative;
        left:140px;
        height:90px;
        width: 90px;
        top:10px;
    }
    
    .weather-temperature strong{
        position: relative;
        left: 150px;
        font-size: 64px;
        line-height: 2;
    }
    
    .weather-temperature .units{
        position: relative;
        left:155px;
        font-size: 16px;
        top: -32px;
    }
    .targetLinks{
        text-align: center;
        font-size: 15px;
       line-height: 1;
    }

    .card{
        height: 50px;
        border: none;
        width: 90%;
    text-align: center;}
    .week .imgIcon{
        position: relative;
        bottom:10px;}
    
    